<div class='dnd5e chat-card'>
  <header class='card-header flexrow'>
    <img src='{{popupImage}}' title='Helper Image' width='36' height='36' />
    <h3 class='item-name'>Welcome to Boss Loot <span id='bossloot-module-version'>v{{moduleVersion}}</span></h3>
  </header>
  <div class='card-content'>
    <p>Here is a sample of how the items should work:</p>
    <img src='{{gifDemo}}' alt='Item Demo GIF' />
    <hr />
    <h2>
      <p>
        We highly recommend checking out our quick and easy
        <a href='https://youtu.be/o42me4ZslnE?t=66' target='_blank'>tutorial</a>
        on module configuration!
      </p>
      {{{patreonLine}}}
    </h2>
    <div>
      <label id='bossloot-checkbox-label'>
        <input id='bossLootHelperPopup' type='checkbox' data-dtype='Boolean' />
        <span id='bossloot-notes'>Do not show this message again.</span>
      </label>
    </div>
  </div>
</div>